<h1> New Application Request </h1>
<ul>
  <li>Email: <%= @app.email %></li>
  <li>Age: <%= @app.age %></li>
  <li>Education Level: <%= @app.education_level %></li>
  <li>School: <%= @app.school %></li>
  <li>Specialty: <%= @app.specialty %></li>
  <li>Plan Selected: $<%= @app.plan_selected %>/month at a cost of $<%= @app.plan_price %>/month</li>
</ul>